<main>
  <h1>One new way to organize your SVG images in a sprite</h1>
  <p>
    See the description of this new way to organize SVG images in a sprite on Medium
  </p>

  <h2>Use the SVG sprites with the <code>&lt;use&gt;</code> element</h2>
  <p>We use the SVG sprites here by means of this code:</p>
  <pre>
&lt;!-- HTML --&gt;
&lt;svg viewBox="0 0 100 100"&gt;
  &lt;use href="path/to/sprite.svg#anchor"&gt;
&lt;/svg&gt;</pre>
  <p>where <code>anchor</code> is the <code>id</code> of the <code>&lt;g&gt;</code> element in the SVG sprite file.</p>
  <div class="flex">
    <svg class="circle" viewBox="0 0 100 100">
      <use href="assets/images/sprites.svg#circle" />
    </svg>
    <svg class="square" viewBox="0 0 100 100">
      <use href="assets/images/sprites.svg#square" />
    </svg>
    <svg class="triangle" viewBox="0 0 100 100">
      <use href="assets/images/sprites.svg#triangle" />
    </svg>
  </div>
  <h2>Use SVG sprite as background-image</h2>
  <p>This one is a bit of a cheater, because we don't use <code>background-image</code> here, but actually we are using the sprites as a mask.</p>
  <pre>
/* CSS */
.my-class &#123;
  --webkit-mask-image: url(path/to/sprite.svg#anchor);
  mask-image: url(path/to/sprite.svg#anchor);
  background-color: gold;
&#125;</pre>
  <div class="flex">
    <div class="sprite-bg sprite-bg--circle"></div>
    <div class="sprite-bg sprite-bg--square"></div>
    <div class="sprite-bg sprite-bg--triangle"></div>
  </div>
  <p>Now we're able to use gradient fillings as well
  <div class="flex">
    <div class="sprite-bg-gradient sprite-bg--circle"></div>
    <div class="sprite-bg-gradient sprite-bg--square"></div>
    <div class="sprite-bg-gradient sprite-bg--triangle"></div>
  </div>
  <h2>Use the sprite as icon in a button</h2>
  <p>This is now more of a real world example</p>
  <button class="sprite-button sprite-button--circle">Circle</button>
  <button class="sprite-button sprite-button--square">Square</button>
  <button class="sprite-button sprite-button--triangle">Triangle</button>

</main>
